<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feeds</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/student"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-no-margin">

  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let i of [1,2,3]">
      <ion-label class="ion-text-wrap">
        <h2><strong>Build a Business from scratch with no funding</strong></h2>
        <div class="text-sm text-muted">
          Tony Stark, Steve Roger
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>