<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card style="padding: 7px; border-radius: 5px;  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);   transition: 0.3s;">
    <div class="ion-padding ion-text-center">
      <ion-avatar class="avatar-lg">
        <img src="assets/img/avatars/13.jpg" alt="">
      </ion-avatar>
      <h3
        style=" color : black; font-weight: bold;; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Ajay
        Gaikwad</h3>
    </div>
  </ion-card>

  <!-- 
  <ion-card style="padding: 7px; border-radius: 5px;  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);   transition: 0.3s;">
    <ion-card-content>
      <ion-card-title
        style="color: black; font-weight: bold;; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Preferences </ion-card-title>
      <br />
      <ion-card-subtitle style="font-size: 13px;">Lecture Playback</ion-card-subtitle>
      <br />
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 15px; ">
        Continue lecture in the background
        <ion-toggle slot="end"></ion-toggle>
      </ion-label>
    </ion-card-content>
  </ion-card> -->

  <ion-card style="padding: 7px; border-radius: 5px;  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);   transition: 0.3s;">

    <ion-card-content>
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 16px; ">
        Support
      </ion-label>
      <br />
      <br />
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 16px; ">
        Share the Educare app
      </ion-label>
      <br />
      <br />
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 16px; ">
        View Privacy Policy
      </ion-label>
      <br />
      <br />
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 16px; ">
        Terms of Use
      </ion-label>
      <br />
      <br />
      <ion-label style="color: black; font-family:Arial, Helvetica, sans-serif; font-size: 16px; ">
        View Intellectual Property Policy
      </ion-label>
      <br />
      <br />
      <ion-button expand="block" fill="clear">
        Sign Out
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>