<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="featured">
      <ion-icon name="star-sharp"></ion-icon>
      <ion-label>Featured</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="briefcase-sharp"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses">
      <ion-icon name="book-sharp"></ion-icon>
      <ion-label>My Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="institute">
      <ion-icon name="school-sharp"></ion-icon>
      <ion-label>Institute</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>